{% extends 'base.html.twig' %}

{% block title %}Labo index{% endblock %}

{% block body %}
    <h1>Labo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>ChefVente</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for labo in labos %}
            <tr>
                <td>{{ labo.id }}</td>
                <td>{{ labo.nom }}</td>
                <td>{{ labo.chefVente }}</td>
                <td>
                    <a href="{{ path('labo_show', {'id': labo.id}) }}">show</a>
                    <a href="{{ path('labo_edit', {'id': labo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('labo_new') }}">Create new</a>
{% endblock %}
