{% extends 'base.html.twig' %}

{% block title %}Travailler index{% endblock %}

{% block body %}
    <h1>Travailler index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id_vis</th>
                <th>DateEmbauche</th>
                <th>Id_region</th>
                <th>Role_tra</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for travailler in travaillers %}
            <tr>
                <td>{{ travailler.id }}</td>
                <td>{{ travailler.idVis }}</td>
                <td>{{ travailler.dateEmbauche ? travailler.dateEmbauche|date('Y-m-d') : '' }}</td>
                <td>{{ travailler.idRegion }}</td>
                <td>{{ travailler.roleTra }}</td>
                <td>
                    <a href="{{ path('travailler_show', {'id': travailler.id}) }}">show</a>
                    <a href="{{ path('travailler_edit', {'id': travailler.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('travailler_new') }}">Create new</a>
{% endblock %}
