{% extends 'base.html.twig' %}

{% block title %}Visiteur index{% endblock %}

{% block body %}

    <h1>Visiteur index</h1>


    <table class="table">
        <thead>
            <tr>
                <th style="width: 10vh">Id</th>
                <th style="width: 13vh">Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>DateEmbauche</th>
                <th>Secteur</th>
                <th>Labo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for visiteur in visiteurs %}
            <tr>
                <td>{{ visiteur[0].id }}</td>
                <td>{{ visiteur[0].nom }}</td>
                <td>{{ visiteur[0].prenom }}</td>
                <td>{{ visiteur[0].adresse }}</td>
                <td>{{ visiteur[0].codePostal }}</td>
                <td>{{ visiteur[0].ville }}</td>
                <td>{{ visiteur[0].dateEmbauche is empty ? "" : visiteur[0].dateEmbauche|date("m/d/Y") }}</td>
                <td>{{ visiteur['libelle']}}</td>
                <td>{{ visiteur['nom']}}</td>
                <td class="td-voir-edit">
                    <a href="{{ path('visiteur_show', {'id': visiteur[0].id}) }}" class="btn-voir-edit">Voir</a>
                    <a href="{{ path('visiteur_edit', {'id': visiteur[0].id}) }}" class="btn-voir-edit">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button-new" href="{{ path('visiteur_new') }}">Nouveau Visiteur</a>
{% endblock %}
