{% extends 'base.html.twig' %}

{% block title %}Visiteur{% endblock %}

{% block body %}
    <h1>Visiteur</h1>
    <table>
        <caption>Statement Summary</caption>
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Adresse</th>
            <th scope="col">Code Postale</th>
            <th scope="col">Ville</th>
            <th scope="col">Date mbauche</th>
            <th scope="col">Secteur</th>
            <th scope="col">Labo</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td data-label="ID">{{ visiteur.id }}</td>
            <td data-label="Nom">{{ visiteur.nom }}</td>
            <td data-label="Prenom">{{ visiteur.prenom }}</td>
            <td data-label="Adresse">{{ visiteur.adresse }}</td>
            <td data-label="Code Postale">{{ visiteur.codePostal }}</td>
            <td data-label="Ville">{{ visiteur.ville }}</td>
            <td data-label="Date Embauche">{{ visiteur.dateEmbauche ? visiteur.dateEmbauche|date('Y-m-d H:i:s') : '' }}</td>
            <td data-label="Secteur">{{ visiteur.codeSecteur }} </td>
            <td data-label="Labo">{{ visiteur.laboCode }} </td>
        </tr>
        </tbody>
    </table>
   <!-- <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ visiteur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ visiteur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ visiteur.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ visiteur.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ visiteur.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ visiteur.ville }}</td>
            </tr>
            <tr>
                <th>DateEmbauche</th>
                <td>{{ visiteur.dateEmbauche ? visiteur.dateEmbauche|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CodeSecteur</th>
                <td>{{ visiteur.codeSecteur }}</td>
            </tr>
            <tr>
                <th>LaboCode</th>
                <td>{{ visiteur.laboCode }}</td>
            </tr>
        </tbody>
    </table>-->

    <a href="{{ path('visiteur_index') }}">back to list</a>

    <a href="{{ path('visiteur_edit', {'id': visiteur.id}) }}">edit</a>

    {{ include('visiteur/_delete_form.html.twig') }}
{% endblock %}
