{% extends 'base.html.twig' %}

{% block title %}Secteur index{% endblock %}

{% block body %}
    <h1>Secteur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for secteur in secteurs %}
            <tr>
                <td>{{ secteur.id }}</td>
                <td>{{ secteur.libelle }}</td>
                <td class="td-voir-edit">
                    <a href="{{ path('secteur_show', {'id': secteur.id}) }}" class="btn-voir-edit">Voir</a>
                    {# <a href="{{ path('secteur_edit', {'id': secteur.id}) }}" class="btn-voir-edit">Modifier</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="button-new" href="{{ path('secteur_new') }}">Nouveau Secteur</a>
{% endblock %}
