{% extends 'base.html.twig' %}

{% block title %}Region index{% endblock %}

{% block body %}
    <h1>Region index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>secteur</th>
                <th>Nom_region</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region[0].id }}</td>
                <td>{{ region['libelle']}}</td>
                <td>{{ region[0].NomRegion}}</td>
{# why should we right NomRegion instead of nom_region?#}
                <td>
                    <a href="{{ path('region_edit', {'id': region[0].id}) }}"><img src="img/edit.png" style="width: 1px"></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    <a class="button-new" href="{{ path('region_new') }}">Create new</a>
{% endblock %}
