{% extends 'base.html.twig' %}

{% block title %}Region index{% endblock %}

{% block body %}
    <h1>Region index</h1>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>secteur</th>
                <th>Nom_region</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for region in regions %}
            <tr>
                <td>{{ region[0].id }}</td>
                <td>{{ region['libelle']}}</td>
                <td>{{ region[0].NomRegion}}</td>

                <td >
                    <a class='btn' style="width:10vh!important" href="{{ path('region_edit', {'id': region[0].id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



    <a class="button-new" href="{{ path('region_new') }}">Nouvelle Région</a>
{% endblock %}
